<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="img/favicon.png" />
    <link rel="stylesheet" href="css/styles.css" />

       <title>{{title}}</title>
  </head>
  <body>
    <div class="main-content"> 
      {{>header}}
      <p>Get real-time weather updates for any location with this convenient weather mini-app. This app uses Mapbox and Weathercast API to give you accurate and up-to-date information, including temperature, humidity, and forecast. Easily check the weather for any location by entering the address or city name in the textbox and submitting it.</p>
      <img class='portrait' src="img/user.png" />
    </div>
    {{>footer}}
  </body>
</html>